.container.fluid
  .row.sign-in.center-block
    .col-md-8.col-md-offset-2.text-center
      %h2 Sign up
      = bootstrap_form_for(resource, url: registration_path(resource_name), layout: :horizontal, label_col: "col-sm-4 ", control_col: "col-sm-6") do |f|
        = f.form_group class: "error-color" do
          = devise_error_messages!
        = f.text_field :name, required: true
        = f.email_field :email, required: true
        = f.password_field :password, required: true
        = f.password_field :password_confirmation, required: true
        = f.form_group do
          = f.submit "Sign up", class: "btn-primary"
