#{ provide(:title, 'Register') }

.container.fluid
  .row.sign-in.center-block
    .col-md-8.col-md-offset-2.text-center
      %h2 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, required: true
        .field
          = f.label :password
          - if @validatable
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off", required: true
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", required: true
        %br
        .actions
          = f.submit "Sign up", class: 'btn btn-primary'

