.container-fluid
  
  .row.center-block
    .col-md-12

    .btn-group.btn-group-justified

      = link_to "Make a wish", new_gift_path, class: 'btn btn-info'
      = link_to "My gifts to others", santa_list_gifts_path, class: 'btn btn-success'

    //=gravatar_for current_user

    %h4.text-center= render 'search_form'
    %p.text-center= link_to "Show all", gifts_path

    %h1.text-center= @title
    %h4.text-center Gifts that other people want

    = will_paginate @gifts
    %table.table.table-hover.table.striped
      %tr
        %th Who made a wish
        %th Gift name
        %th Link
        %th 

        -@gifts.each do |g|
          %tr
            %td= g.user.name
            %td= g.name
            %td= link_to "See on Allegro", g.allegro_link
            %td= link_to "Choose", gift_register_santa_path(g), method: :patch, class: 'btn btn-info'

    = will_paginate @gifts

