#{ provide(:title, 'Add new gift') }

%h1 Add new gift
= form_for @gift do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :allegro_link
    = f.text_area :allegro_link, class: 'form-control'

  = f.submit 'Save'
