#{ provide(:title, 'Add new gift') }
=render 'top_nav'

.container.fluid
  .row.new-wish.center-block
    .col-md-8.col-md-offset-2.text-center
      %h2 Add a new wish
      = form_for @gift do |f|
        .field
          = f.label :allegro_link
          %br/
          = f.text_field :allegro_link, class: 'form-control'
        .field
          = f.label :importance
          %br/
          = f.collection_select(:importance_id, Importance.all, :id, :name)
        %br
        .actions
          = f.submit 'Save', class: 'btn btn-info'
