#{ provide(:title, 'Wish list') }
=render 'top_nav'
.container-fluid

  %h1.text-center My wish list
  %h4.text-center Gifts that I expect
  %h5.text-center Total cost: #{gift_prices_summary(@gifts)}

  %table.table.table-hover.table-striped.table-winter
    %tr
      %th Name
      %th Importance
      %th Price
      %th Time to end
      %th Link
      %th Status

      -@gifts.each do |g|
        %tr
          %td= g.name
          %td= g.importance.name unless g.importance.nil?
          %td= get_formated_price(g)
          %td= time_until_end(g)
          %td
            = link_to "See on Allegro", g.allegro_link
          %td
            -if !g.santa_id.nil?
              != ':gift:'.emojify 
            -else 
              != ':evergreen_tree:'.emojify
